@using System.Linq;
@using System.Web;
@using Bookish.DbModels;
@model MemberViewModel;
@{
    ViewData["Title"] = "Member";

}

<h2>Member</h2>

<div>Name: @Model.Name</div>
<div>Id: @Model.Id</div>
<div>List of checked-out Books:</div>
<table style="width:100%">
    <tr>
        <th>LiveBookId</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>DateCheckedOut</th>
        <th>Due Date</th>
    </tr>
    @foreach (var book in Model.LiveBooks)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.BookTypeTitle</td>
            <td>@book.BookTypeAuthor</td>
            <td>@book.BookTypeIsbn</td>
            <td>@book.CheckOutDate</td>
            <td>@book.DueDate</td>
        </tr>
    }

</table>

<h2>Edit Member</h2>
<form method="post" asp-controller="Member" asp-action="Profile" asp-route-id="@Model.Id">
    First Name: <input type="text" asp-for="Name" value="" />
    <button type="submit">Change Member Details</button>
</form>